// --------------Не трогать----------------------------
.select {
	display: inline-block;
	position: relative;
	&__field {
		border: 4px solid transparent;
		background: white;
		width: inherit;
		display: inline-flex;
		align-items: center;
		justify-content: space-between;
		user-select: none;
	}
	&__field-mark {
		width: 10px;
		height: 10px;
		display: flex;
		align-items: center;
		position: relative;
		span {
			width: 50%;
			height: 10%;
			background: black;
		}
		span:nth-child(1) {
			position: absolute;
			rotate: (45deg);
			left: 10%;
			border-radius: 10px 0px 10px 10px;
		}
		span:nth-child(2) {
			right: 10%;
			position: absolute;
			rotate: (-45deg);
			border-radius: 0px 10px 10px 10px;
		}
	}
	&__field-text {
		display: flex;
		align-items: center;
	}
	&__options {
		position: absolute;
		top: 1;
		left: 0;
		z-index: 9;
		opacity: 0;
		visibility: hidden;

		display: flex;
		flex-direction: column;
		width: inherit;
	}
	&__option {
		background: white;
		display: inline-flex;
		align-items: center;
		width: inherit;
		user-select: none;
	}
}

.select.open {
	.select__field-mark {
		span:nth-child(1) {
			rotate: (-45deg);
			border-radius: 10px 10px 0px 10px;
		}
		span:nth-child(2) {
			rotate: (45deg);
			border-radius: 10px 10px 10px 0px;
		}
	}
	.select__options {
		opacity: 1;
		visibility: visible;
	}
}
