@import './reset';
@import './select';

html {
	overflow: hidden;
}

body {
	margin: 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: 'Open Sans';
	background: rgb(183, 48, 123);
	background: linear-gradient(180deg, rgba(183, 48, 123, 1) 12%, rgba(64, 61, 152, 1) 78%);
	overflow-x: hidden;
	overflow-y: auto;
}

.currency {
	margin-top: 3%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	&__wrapper {
		padding: 30px 50px;
		max-width: 1200px;
		background: #ffffff;
		border-radius: 10px;
		margin: 10px;
		display: flex;
		flex-direction: column;
		row-gap: 30px;
	}

	&__title {
		text-align: center;
		font-size: 50px;
		color: #453f69;
		line-height: 130%;
	}

	&__nums {
		display: flex;
		justify-content: center;
		align-items: center;
		color: #3b3b3b;
		font-size: 25px;
		text-align: center;
		column-gap: 15px;
		line-height: 150%;
	}

	&__double {
		display: flex;
		justify-content: space-between;
		align-items: center;
		column-gap: 15px;
	}
	form {
		display: flex;
		flex-direction: column;
		row-gap: 30px;
	}
	&__input {
		padding: 10px 20px;
		background: #dfdfdf;
		color: #434343;
		font-size: 18px;
		border-radius: 5px;
	}

	&__button {
		padding: 10px 20px;
		background: #47467b;
		color: white;
		font-size: 18px;
		border-radius: 5px;
	}
	&__num-total {
		line-height: 150%;
	}
	&__num {
		line-height: 150%;
	}
}

.select-change {
	svg {
		rotate: (90deg);
		&:hover {
			cursor: pointer;
		}
	}
}

@media (width <700px) {
	.currency {
		&__wrapper {
			padding: 20px 30px;
		}
		&__title {
			font-size: 40px;
		}
		&__nums {
			flex-direction: column;
			font-size: 22px;
		}
		&__input,
		&__button {
			font-size: 15px;
		}
	}
}

@media (width < 550px) {
	.currency {
		&__title {
			font-size: 32px;
		}
		&__wrapper {
			row-gap: 20px;
		}
		&__double {
			flex-direction: column;
			row-gap: 10px;
		}
		.select-change {
			svg {
				rotate: (0deg);
			}
		}
	}
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}
