@charset "UTF-8";
/*			Обнуление			*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.select {
  display: inline-block;
}
.select__field {
  border: 4px solid transparent;
  background: white;
  width: inherit;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  position: relative;
}
.select__field-mark {
  width: 10px;
  height: 10px;
  display: flex;
  align-items: center;
  position: relative;
}
.select__field-mark span {
  width: 50%;
  height: 10%;
  background: black;
}
.select__field-mark span:nth-child(1) {
  position: absolute;
  rotate: 45deg;
  left: 10%;
  border-radius: 10px 0px 10px 10px;
}
.select__field-mark span:nth-child(2) {
  right: 10%;
  position: absolute;
  rotate: -45deg;
  border-radius: 0px 10px 10px 10px;
}
.select__field-text {
  display: flex;
  align-items: center;
}
.select__options {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 1;
  left: 1;
  width: inherit;
  z-index: 9;
}
.select__option {
  background: white;
  display: inline-flex;
  align-items: center;
  width: inherit;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.select.open .select__field-mark span:nth-child(1) {
  rotate: -45deg;
  border-radius: 10px 10px 0px 10px;
}
.select.open .select__field-mark span:nth-child(2) {
  rotate: 45deg;
  border-radius: 10px 10px 10px 0px;
}
.select.open .select__options {
  opacity: 1;
  visibility: visible;
}

.select {
  width: 250px;
}
.select__field {
  background: #e7e7e7;
  padding: 10px 15px;
  border-radius: 5px;
  transition-duration: 0.3s;
  transition-property: background;
}
.select__field:hover {
  cursor: pointer;
  background: #f0f0f0;
}
.select__field:focus {
  border: 4px solid rgba(171, 171, 171, 0.194);
}
.select__field-text {
  font-size: 18px;
  color: #434343;
}
.select__option {
  background: #e7e7e7;
  padding: 10px 15px;
  transition-duration: 0.3s;
  transition-property: background;
  color: #434343;
}
.select__option:hover {
  cursor: pointer;
  background: #f0f0f0;
}
.select__option:last-child {
  border-radius: 0 0 5px 5px;
}
.select__option-image {
  width: 35px;
  margin-right: 10px;
  border-radius: 3px;
}
.select__options {
  overflow-y: auto;
  overflow-x: hidden;
  height: 30vh;
  border-radius: 0 0 0 10px;
}

.select.open .select__field {
  border-radius: 5px 5px 0 0;
}

@media (width < 700px) {
  .select {
    width: 180px;
  }
}
@media (width < 550px) {
  .select {
    width: 250px;
  }
  .select__field-text {
    font-size: 16px;
  }
  .select__field-text img {
    width: 28px;
  }
  .select__option-image {
    width: 28px;
  }
}
html {
  overflow: hidden;
}

body {
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Open Sans";
  background: rgb(183, 48, 123);
  background: linear-gradient(180deg, rgb(183, 48, 123) 12%, rgb(64, 61, 152) 78%);
  overflow-x: hidden;
  overflow-y: auto;
}

.currency {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.currency__wrapper {
  padding: 30px 50px;
  max-width: 1200px;
  background: #ffffff;
  border-radius: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.currency__title {
  text-align: center;
  font-size: 50px;
  color: #453f69;
  line-height: 130%;
}
.currency__nums {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #3b3b3b;
  font-size: 25px;
  text-align: center;
  -moz-column-gap: 15px;
       column-gap: 15px;
  line-height: 150%;
}
.currency__double {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
.currency form {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.currency__input {
  padding: 10px 20px;
  background: #dfdfdf;
  color: #434343;
  font-size: 18px;
  border-radius: 5px;
}
.currency__button {
  padding: 10px 20px;
  background: #47467b;
  color: white;
  font-size: 18px;
  border-radius: 5px;
}
.currency__num-total {
  line-height: 150%;
}
.currency__num {
  line-height: 150%;
}

.select-change svg {
  rotate: 90deg;
}
.select-change svg:hover {
  cursor: pointer;
}

@media (width < 700px) {
  .currency__wrapper {
    padding: 20px 30px;
  }
  .currency__title {
    font-size: 40px;
  }
  .currency__nums {
    flex-direction: column;
    font-size: 22px;
  }
  .currency__input, .currency__button {
    font-size: 15px;
  }
}
@media (width < 550px) {
  .currency__title {
    font-size: 32px;
  }
  .currency__wrapper {
    row-gap: 20px;
  }
  .currency__double {
    flex-direction: column;
    row-gap: 10px;
  }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}